## Project 3: Exploring eBay Car Sales Data

Target: clean the data and analyze the included used car listings.

Source: https://data.world/data-society/used-cars-data

Author : HUYNH Tram-Anh

###  I. Openning data:

In [38]:
import pandas as pd
import numpy as np

autos = pd.read_csv('autos.csv', encoding = 'Latin')

In [39]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [40]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [41]:
autos.head(2)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08

### II. Cleaning data:

In [42]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [43]:
def camel_snake(strings):
    res = [string[0].lower()]
    for char in strings[1:]:
        if char in ('ABCDEFGHIJKLMNOPQRSTUVWXYZ'):
            res.append('_')
            res.append(char.lower())
        else:
            res.append(char)
    return ''.join(res)  #join the character in the list 

print(camel_snake('YearOfRegistration'))

lear_of_registration

In [44]:
new_columns = []
for string in autos.columns:
    column_snake = camel_snake(string)
    new_columns.append(column_snake)
autos.columns = new_columns

In [45]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'year_of_registration', 'gearbox', 'power_p_s', 'model',
       'odometer', 'month_of_registration', 'fuel_type', 'brand',
       'not_repaired_damage', 'date_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [46]:
autos.rename({'year_of_registration':'registration_year','odometer':'kilometer','notRepairedDamage':'unrepaired_damage',
'dateCreated':'ad_created'},axis = 1, inplace = True)

In [47]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_p_s', 'model',
       'kilometer', 'month_of_registration', 'fuel_type', 'brand',
       'not_repaired_damage', 'date_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [48]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,kilometer,month_of_registration,fuel_type,brand,not_repaired_damage,date_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-29 23:42:13,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [49]:
autos.drop(['seller','offer_type','nr_of_pictures'], axis = 1, inplace = True)  #delete column

In [50]:
autos.columns

Index(['date_crawled', 'name', 'price', 'abtest', 'vehicle_type',
       'registration_year', 'gearbox', 'power_p_s', 'model', 'kilometer',
       'month_of_registration', 'fuel_type', 'brand', 'not_repaired_damage',
       'date_created', 'postal_code', 'last_seen'],
      dtype='object')

In [51]:
autos['price'] = autos['price'].str.replace('$','')
autos['price'] = autos['price'].str.replace(',','').astype(float)   #change the type from string to float
autos['kilometer'] = autos['kilometer'].str.replace('km','')
autos['kilometer'] = autos['kilometer'].str.replace(',','').astype(float)

<ipython-input-51-cae9eeba7fac>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  autos['price'] = autos['price'].str.replace('$','')

In [52]:
autos.head(2)

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,kilometer,month_of_registration,fuel_type,brand,not_repaired_damage,date_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000.0,control,bus,2004,manuell,158,andere,150000.0,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500.0,control,limousine,1997,automatik,286,7er,150000.0,6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08

In [53]:
autos['gearbox'].unique()

array(['manuell', 'automatik', nan], dtype=object)

In [54]:
autos['not_repaired_damage'].unique()

array(['nein', nan, 'ja'], dtype=object)

In [55]:
autos['fuel_type'].unique()

array(['lpg', 'benzin', 'diesel', nan, 'cng', 'hybrid', 'elektro',
       'andere'], dtype=object)

In [56]:
germany_dict = {'manuell':'manual','automatik':'automatic','nein':'no', 'ja':'yes','lpg':'lpg', 'benzin':'benzine', 'diesel':'diesel', 'cng':'cng', 'hybrid':'hydrid', 'elektro':'electro',
'andere':'other'}

autos['gearbox'] = autos['gearbox'].map(germany_dict) #stranlate language 
autos['gearbox'].unique()

array(['manual', 'automatic', nan], dtype=object)

In [57]:
autos['fuel_type'] = autos['fuel_type'].map(germany_dict)
autos['fuel_type'].unique()

array(['lpg', 'benzine', 'diesel', nan, 'cng', 'hydrid', 'electro',
       'other'], dtype=object)

In [58]:
autos['not_repaired_damage'] = autos['not_repaired_damage'].map(germany_dict)
autos['not_repaired_damage'].unique()

array(['no', nan, 'yes'], dtype=object)

### III. Data analysis:

Scientific notation: e+n

In [64]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [65]:
autos.describe()

,price,registration_year,power_p_s,kilometer,month_of_registration,postal_code
count,50000.00,50000.00,50000.00,50000.00,50000.00,50000.00
mean,9840.04,2005.07,116.36,125732.70,5.72,50813.63
std,481104.38,105.71,209.22,40042.21,3.71,25779.75
min,0.00,1000.00,0.00,5000.00,0.00,1067.00
25%,1100.00,1999.00,70.00,125000.00,3.00,30451.00
50%,2950.00,2003.00,105.00,150000.00,6.00,49577.00
75%,7200.00,2008.00,150.00,150000.00,9.00,71540.00
max,99999999.00,9999.00,17700.00,150000.00,12.00,99998.00

In [69]:
biggest_prices = autos['price'].value_counts().sort_index(ascending = False).head(10) #sort_values vs sort_index
biggest_prices

99999999.00    1
27322222.00    1
12345678.00    3
11111111.00    2
10000000.00    1
3890000.00     1
1300000.00     1
1234566.00     1
999999.00      2
999990.00      1
Name: price, dtype: int64

In [70]:
autos = autos.loc[autos['price'].between(0,999999),:]

In [71]:
autos['price'].describe()

count    49989.00
mean      5781.19
std      11833.26
min          0.00
25%       1100.00
50%       2950.00
75%       7200.00
max     999999.00
Name: price, dtype: float64

In [72]:
autos['kilometer'].describe()

count    49989.00
mean    125737.46
std      40037.23
min       5000.00
25%     125000.00
50%     150000.00
75%     150000.00
max     150000.00
Name: kilometer, dtype: float64

In [74]:
biggest_kilometer = autos['kilometer'].value_counts(normalize=True).sort_index(ascending = False).head(10) #sort_values vs sort_index
biggest_kilometer                                  #normalize: display the percentage of values

150000.00   0.65
125000.00   0.10
100000.00   0.04
90000.00    0.04
80000.00    0.03
70000.00    0.02
60000.00    0.02
50000.00    0.02
40000.00    0.02
30000.00    0.02
Name: kilometer, dtype: float64

In [75]:
autos.columns

Index(['date_crawled', 'name', 'price', 'abtest', 'vehicle_type',
       'registration_year', 'gearbox', 'power_p_s', 'model', 'kilometer',
       'month_of_registration', 'fuel_type', 'brand', 'not_repaired_damage',
       'date_created', 'postal_code', 'last_seen'],
      dtype='object')

In [76]:
date_crawled = autos['date_crawled'].str[:10].value_counts(normalize=True).sort_index(ascending = False).head(10) #sort_values vs sort_index
date_crawled

2016-04-07   0.00
2016-04-06   0.00
2016-04-05   0.01
2016-04-04   0.04
2016-04-03   0.04
2016-04-02   0.04
2016-04-01   0.03
2016-03-31   0.03
2016-03-30   0.03
2016-03-29   0.03
Name: date_crawled, dtype: float64

In [77]:
date_created = autos['date_created'].str[:10].value_counts(normalize=True).sort_index(ascending = False).head(10) #sort_values vs sort_index
date_created

2016-04-07   0.00
2016-04-06   0.00
2016-04-05   0.01
2016-04-04   0.04
2016-04-03   0.04
2016-04-02   0.04
2016-04-01   0.03
2016-03-31   0.03
2016-03-30   0.03
2016-03-29   0.03
Name: date_created, dtype: float64

In [78]:
autos['registration_year'].describe()

count   49989.00
mean     2005.07
std       105.72
min      1000.00
25%      1999.00
50%      2003.00
75%      2008.00
max      9999.00
Name: registration_year, dtype: float64

In [80]:
regis_year = autos['registration_year'].value_counts().sort_index().head(10)
regis_year

1000    1
1001    1
1111    1
1500    1
1800    2
1910    9
1927    1
1929    1
1931    1
1934    2
Name: registration_year, dtype: int64

In [82]:
autos[autos['registration_year'] == 1931]

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,kilometer,month_of_registration,fuel_type,brand,not_repaired_damage,date_created,postal_code,last_seen
11246,2016-03-26 19:49:59,Ford_Model_A_Roadster_Deluxe_1931,27500.00,control,cabrio,1931,manual,39,andere,10000.00,7,benzine,ford,no,2016-03-26 00:00:00,9322,2016-04-06 09:46:59

In [83]:
autos = autos[autos['registration_year'].between(1927,2016)]

In [84]:
autos['registration_year'].describe()

count   48010.00
mean     2002.82
std         7.20
min      1927.00
25%      1999.00
50%      2003.00
75%      2008.00
max      2016.00
Name: registration_year, dtype: float64

In [85]:
autos['brand'].unique()

array(['peugeot', 'bmw', 'volkswagen', 'smart', 'ford', 'chrysler',
       'seat', 'renault', 'mercedes_benz', 'audi', 'sonstige_autos',
       'opel', 'mazda', 'porsche', 'mini', 'toyota', 'dacia', 'nissan',
       'jeep', 'saab', 'volvo', 'mitsubishi', 'jaguar', 'fiat', 'skoda',
       'subaru', 'kia', 'citroen', 'chevrolet', 'hyundai', 'honda',
       'daewoo', 'suzuki', 'trabant', 'land_rover', 'alfa_romeo', 'lada',
       'rover', 'daihatsu', 'lancia'], dtype=object)

In [88]:
brands = autos['brand'].value_counts(normalize=True).head(10)
brands

volkswagen      0.21
bmw             0.11
opel            0.11
mercedes_benz   0.10
audi            0.09
ford            0.07
renault         0.05
peugeot         0.03
fiat            0.03
seat            0.02
Name: brand, dtype: float64

In [91]:
top_brands = brands[brands>0.05].index
top_brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford'], dtype='object')

In [93]:
top_brand_price = {}
for brand_name in top_brands:
    avg_price = autos[autos['brand']==brand_name]['price'].mean()
    top_brand_price[brand_name] = round(avg_price)
top_brand_price

{'volkswagen': 5426,
 'bmw': 8103,
 'opel': 2878,
 'mercedes_benz': 8485,
 'audi': 9094,
 'ford': 3949}

In [94]:
top_brand_km = {}
for brand_name in top_brands:
    avg_km = autos[autos['brand']==brand_name]['kilometer'].mean()
    top_brand_km[brand_name] = round(avg_km)
top_brand_km

{'volkswagen': 128728,
 'bmw': 132431,
 'opel': 129225,
 'mercedes_benz': 130856,
 'audi': 129288,
 'ford': 124069}

In [95]:
price_serie = pd.Series(top_brand_price)
km_serie = pd.Series(top_brand_km)
price_km = pd.DataFrame(price_serie, columns = ['price_serie'])
price_km['km_serie'] = km_serie
price_km

               price_serie  km_serie
volkswagen            5426    128728
bmw                   8103    132431
opel                  2878    129225
mercedes_benz         8485    130856
audi                  9094    129288
ford                  3949    124069

In [96]:
brand_model = autos.groupby('brand').model.value_counts()
brand_model

brand       model
alfa_romeo  156        92
            147        80
            andere     60
            159        33
            spider     33
                       ..
volvo       v50        31
            850        28
            c_reihe    28
            s60        17
            v60         3
Name: model, Length: 290, dtype: int64

In [97]:
brand_model_audi = autos[autos['brand']=='audi'].groupby('brand').model.value_counts()
brand_model_audi

brand  model
audi   a4        1265
       a3         838
       a6         814
       andere     219
       80         209
       tt         147
       a5         126
       a1          82
       a8          72
       q5          62
       100         59
       a2          43
       q7          40
       q3          28
       90           9
       200          1
Name: model, dtype: int64

In [98]:
autos['not_repaired_damage'].value_counts(dropna = False)

no     34250
NaN     8975
yes     4785
Name: not_repaired_damage, dtype: int64

In [99]:
not_repaired_damage = autos.groupby('not_repaired_damage')['price'].mean()
not_repaired_damage

not_repaired_damage
no    7106.22
yes   2335.38
Name: price, dtype: float64

In [100]:
max_unrepaired_damage = autos.groupby('not_repaired_damage')['price'].max()
max_unrepaired_damage

not_repaired_damage
no    999999.00
yes   999990.00
Name: price, dtype: float64

In [104]:
autos.loc[autos[autos['not_repaired_damage']== 'yes']['price'].idxmax()]

date_crawled             2016-03-29 11:38:54
name                     Volkswagen_Jetta_GT
price                              999990.00
abtest                                  test
vehicle_type                       limousine
registration_year                       1985
gearbox                               manual
power_p_s                                111
model                                  jetta
kilometer                          150000.00
month_of_registration                     12
fuel_type                            benzine
brand                             volkswagen
not_repaired_damage                      yes
date_created             2016-03-29 00:00:00
postal_code                            50997
last_seen                2016-03-29 11:38:54
Name: 37585, dtype: object

In [105]:
autos['kilometer'].unique()

array([150000.,  70000.,  50000.,  80000.,  10000.,  30000., 125000.,
        90000.,  20000.,  60000.,   5000.,  40000., 100000.])

5 groups of value (in 1000km): '5k-30k', '30k-40k', '40k-60k', '100k-150k'

In [106]:
km_5_30 = autos[(autos['kilometer'] >= 5000)&(autos['kilometer']<30000)]['price'].mean()
km_5_30

13371.605221932115

In [107]:
km_30_40 = autos[(autos['kilometer'] >= 30000)&(autos['kilometer']<40000)]['price'].mean()
km_30_40

16414.45513654096

In [108]:
km_40_60 = autos[(autos['kilometer'] >= 40000)&(autos['kilometer']<60000)]['price'].mean()
km_40_60

14434.46511627907

In [109]:
km_60_100 = autos[(autos['kilometer'] >= 60000)&(autos['kilometer']<100000)]['price'].mean()
km_60_100

10035.09874723655

In [111]:
km_100_150 = autos[(autos['kilometer'] >= 100000)&(autos['kilometer']<=150000)]['price'].mean()
km_100_150

4286.363042108579

### III. Conclusion:

- The difference of average price between non_damaged and damaged cars are on average 3.5 times cheaper
- Only 6 brands count more than 6%